@charset "UTF-8";

/* Telas de Tablet (768px ou mais) */
@media screen and (min-width: 768px) {
    body {
        background-image: linear-gradient(to top, #00292C, #373b3b);
    }

    section#login {
        flex-direction: row; /* Coloca imagem e formulário lado a lado */
        max-width: 800px;
        width: 85vw;
    }

    section#login > div#imagem {
        width: 40%;
        height: auto; /* A altura agora acompanha o formulário */
    }

    section#login > div#formulario {
        width: 60%;
        padding: 40px; /* Mais espaço interno em telas maiores */
    }
}

/* Telas de Desktop (992px ou mais) */
@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
        min-height: 350px; /* No desktop ele é mais largo e baixo */
        height: auto;
        flex-direction: row; /* Coloca imagem e formulário lado a lado */
    }

    section#login > div#imagem {
        width: 50%;
        align-self: stretch; /* Faz a imagem acompanhar a altura do formulário */
    }

    section#login > div#formulario {
        width: 50%;
    }

    div#formulario > h1 {
    font-size: 2em;
    }
}